body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
}

/**Header**/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: auto;
    background-image: linear-gradient(120deg, rgb(204,0,102) 0%, #8d6391 100%);
    padding: 0px 60px;
}

.header__title{
    color: white;
    margin: 0;
    cursor: pointer;
    /* border-bottom: 2px solid rgb(204,0,102); */
}
.header__sigueme-widget{
    display: flex;
}
.facebook{
    background-image: url("images/facebook.svg");
}

.instagram{
    background-image: url("images/instagram.svg");
}
  
.github{
    background-image: url("images/github.svg");
}


.bitbucket{
    background-image: url("images/bitbucket.svg");
}
.item--sigueme{
    height: 30px;
    width: 30px;
    margin-right: 6px;
    filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);
}
.item--sigueme:hover{
    /* filter: invert(16%) sepia(99%) saturate(5641%) hue-rotate(318deg) brightness(102%) contrast(107%); */
    filter: invert(9%) sepia(29%) saturate(4822%) hue-rotate(219deg) brightness(104%) contrast(118%);
    cursor: pointer;
}

/**Contenido(Main)**/
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 100%;
    padding-top: 40px;
    position: relative;
}

.main__container-item{
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
    height: 170px;
    width: 140px;
    display: inline-block; 
    cursor: pointer;
    transition: 450ms all; /*Cuando se hagan transiciones duraran 450 milisegundos, es para poner fluides*/
    transform-origin: center left; /*Hacer que las tranformaciones empiezen desde el centro de izq. a der.*/
    position: relative;
    margin: 0 10px 10px 0;
}
/**
.main__container-item:hover ~ .main__container-item{ 
    transform: translate3d(5px, -5px, 0); /*Para desplazar los elementos inline a la derecha 5px a la abajo, 5 a la izq; de los elementos que no estan encima del cursor 
    box-shadow: -2.5px 2.5px 2.5px 1.5px rgba(204,0,102,0.4);
}*/

.main__container:hover .main__container-item{/*Opaca a los demas contenedores que no enfoco*/
    opacity: 0.3;
}
.main__container:hover .main__container-item:hover{/*Cuando tengo enfocado al contenedor*/
    transform: translate3d(5px, -5px, 0);
    box-shadow: -2.5px 2.5px 2.5px 1.5px rgba(204,0,102,0.4);
    /*transform: scale(1.5); para que elemento agrande 1.5 su tamaño orginal */
    opacity: 1;
}


/**Footer**/
.footer{
    background-image: linear-gradient(120deg, #8d6391 0%, rgb(204,0,102) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
.footer nav{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.footer nav > a{
    text-decoration: none;
    color: white;
    
}

.footer nav > a:hover{
    border-bottom: 1px solid white;
}

